/* Reset or Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400&display=swap");

/* Global Styles */
body {
  height: 100%;
  font-family: Arial, sans-serif; /* Fallback font */
  line-height: 1.6;
  color: #2C2C2C;
  background-color: #f8f8f8; /* Adjust to your background preference */
  margin: 0;
  padding: 0;
}
/* Main Content Styles */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f8f8f8; /* Background color for the main content */
}

/* Profile Container */
.profile-container {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1000px;
}

/* Profile Image */
.profile-img {
  float: left;
  margin-right: 20px;
  border-radius: 8px;
}

/* Pet Info */
.pet-info {
  overflow: hidden;
}

/* Pet Name */
.pet-details h1 {
  margin-bottom: 35px;
  font-size: 25px;
}

/* Pet Details p*/
.pet-details p {
  margin-bottom: 5px;
  font-size: 18px;
  color: #2C2C2C;
}

.pet-details button {
  width: 158px;
  float: Left;
}

.profile-about-me-upper p {
  font-size: 18px;
  
}

.profile-about-me-lower h1 {
  font-family: "Helvetica"; /* TODO: Add fallback font */
  font-size: 40px;
  margin: 20px 0;
  color: #2C2C2C;
}

.profile-about-me-lower p {
  font-family: "Helvetica"; /* TODO: Add fallback font */
  font-size: 16px;
  margin-top: 10px;
  color: #2C2C2C;
}

.decorative-bar {
  border: none;
  height: 2px;
  background-color: #410078;
  margin: 20px 0;
}
